@font-face {
  font-family: 'Pobeda';
  src: url('/fonts/pobeda/Pobeda-Regular.eot') format('embedded-opentype'), url('/fonts/pobeda/Pobeda-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pobeda';
  src: url('/fonts/pobeda/Pobeda-Bold.eot') format('embedded-opentype'), url('/fonts/pobeda/Pobeda-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}