//white
$color-white: #ffffff;
$color-white-2: #d8e1e6;

//nuances blue
$color-blue-1: #e7edf3;
$color-blue-2: #d8dee3;
$color-blue-3: #c4cacf;
$color-blue-4: #c3ced9;
$color-blue-5: #acb6bf;
$color-blue-6: #acb6c0;
$color-blue-7: #0080ff;
$color-blue-8: #0000ff;
$color-blue-9: #337ab7;

//nuances red
$color-red-1: #e64d2e;
$color-red-2: #ff0000;

//nuances green
$color-green-1: #4caf50;
$color-green-2: #008000;
$color-green-3: #44a246;
$color-green-4: #20a86b;

//nuances gray
$color-gray-1: #f7f7f7;
$color-gray-2: #f8f8f8;
$color-gray-3: #e6e6e6;
$color-gray-4: #d9d9d9;
$color-gray-5: #bcbcbc;
$color-gray-6: #a6a6a6;
$color-gray-7: #4c4c4c;
$color-gray-8: #7a8f99;

//black
$color-black: #000000;

$color-dark-1: #0b172a;
$color-dark-2: #25313F;
$color-dark-3: #1D2630;
$color-dark-4: #121D2D;
