.input-landing {
    display: block;
    height: 64px;
    max-width: 100%;
    margin-bottom: 20px;
    position: relative;
    border-radius: 4px;
    background-color: $color-dark-2;
    text-align: left;


    &__input {
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 24px 24px 6px;
        background-color: transparent;
        border: none;
        border-radius: 0;
        outline: 0;
        font-size: $font-size-16;
        color: $color-white;

        // hack for not change style of inputs
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            transition: background-color 5500s ease-in-out 0s;
            -webkit-text-fill-color: $color-white !important;
            caret-color: $color-white
        }

        &:focus {
            border: solid 1px $color-green-4;
            border-radius: 4px;
        }

        &--password {
            -webkit-text-security: disc;
        }
    }


    &--invalid {
        border: $color-red-1 solid 1px;
    }

    &__input--has-value:not(:focus)~label {
        font-size: $font-size-12;
        font-weight: $font-weight-normal;
        transform: translateY(-50%);
    }

    &__input:focus~label {
        font-size: $font-size-12;
        transform: translateY(-50%);
        text-overflow: ellipsis;
    }

    &__label {
        cursor: text;
        position: absolute;
        left: 24px;
        top: 25%;
        transform: translateY(0);
        transition: all 0.2s ease-out;
        pointer-events: none;
        overflow: hidden;
        white-space: nowrap;
        line-height: $line-height-2;
    }
}
