.landing-container {
    font-family: 'Open Sans';
    font-size: $font-size-16;
    font-weight: $font-weight-normal;
    background-color: $color-dark-1;
    color: $color-gray-8;
    line-height: $line-height-1-5;
}
