.landing-part-window {
    position: relative;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 28px 10px 70px 10px;
    max-width: 1182px;
    margin: 0 auto;

    @include tablets() {
        padding: 28px 30px 120px 30px;
    }

    @include desktop() {
        padding: 28px 0px 120px 0px;
    }

    &:first-child {
        padding: 28px 10px 70px 10px;
        @include tablets() {
            padding: 28px 30px 120px 30px;
        }
        @include desktop() {
            padding: 28px 0px 120px 0px;
        }
    }
}

.landing-part-window--footer {
    padding-bottom: 0px;
}
