.landing-part-window {
    position: relative;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 28px 30px 70px 30px;

    @include tablets() {
        padding: 28px 100px 160px 100px;
    }
}

.landing-part-window--footer {
    padding-bottom: 0px;
}
